body {
    background: url('../images/background.svg');
    background-size: cover;
}

.glass_container {
    /*
    position: relative;
    width: 80%;
    
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    */
    width: 90%;
    margin-top: 50px;
    height: 800px;
    background: radial-gradient(89.88% 99.94% at 96.66% 96.11%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 253, 253, 0.16) 100%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
}



/* Navigation */

.run-menu {
    position: relative;
    margin-top: 40px;
    height: 48px;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding:20px;
    
    color: #9E8282;
}

a:link {
    text-decoration: none;
}

.logo {
    padding: 10px;
}

.brandname {
    padding: 10px;
}


.main-content {
    margin-top: 50px;
    margin-left: 50px;
}

/*
.navbar {
    position: relative;
    top: 42px;
    width: 100%;
    height: 48px;
}


.navbrand span{
    font-family: 'Montserrat', sans-serif;
    color: black;
    
    position: absolute;
    left: 18.6%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.logo{
    position: absolute;
    left: 0%;
    right: 84.3%;
    top: 0%;
    bottom: 0%;
}

.navbrand {
    width: 25%;
    height: 27px;
    top: 11px;
    left: 54px;
    bottom: 10px;
    position: relative;
}

.nav-item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    
    color: #9E8282;
}

#training_plan {
    position: absolute;
    width: 83px;
    height: 15px;
    left: 360px;
    top: 17px;
}

#training_records {
    position: absolute;
    width: 105px;
    height: 15px;
    left: 477px;
    top: 16px;
}



.main-content {

    position: absolute;
    width: 766px;
    height: 656px;
    left: 59px;
    top: 113px;

    font-family: Montserrat;
    font-style: normal;
}



@media (min-width: 1200px) {
    .col-lg-4 .col-lg-8 {
        height: 100%;
        box-sizing: border-box;
        float: left;
    }

    .col-lg-4 {
        width:33%;

    }

    .col-lg-8 {
        width:66%;
    }
}

*/