body {
  background: white;
}

.Logo {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.interval {
  height: 200px;
  margin: 20px;
  border-radius: 15px;
  font-size: 1.5rem;
}

.info {
  padding: 20px;
  font-size: 1rem;
  color: rgb(185, 184, 184);
}

.timer {
  border: 2px solid rgb(13, 110, 253);
  border-radius: 15px;
  text-align: center;
}

.timerbtn {
  height: 20vh;
  width: 12vh;
  border-radius: 15px;
}

.DistanceTimer {
  width: 90vw;
}
